
.vs/ProjectEuler/v16/.suo
bin/Debug/netcoreapp3.1/ProjectEuler.deps.json
bin/Debug/netcoreapp3.1/ProjectEuler.dll
bin/Debug/netcoreapp3.1/ProjectEuler.exe
bin/Debug/netcoreapp3.1/ProjectEuler.pdb
bin/Debug/netcoreapp3.1/ProjectEuler.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/ProjectEuler.runtimeconfig.json
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/ProjectEuler.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/ProjectEuler.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/ProjectEuler.assets.cache
obj/Debug/netcoreapp3.1/ProjectEuler.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/ProjectEuler.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ProjectEuler.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ProjectEuler.dll
obj/Debug/netcoreapp3.1/ProjectEuler.exe
obj/Debug/netcoreapp3.1/ProjectEuler.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/ProjectEuler.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/ProjectEuler.csproj.nuget.dgspec.json
obj/ProjectEuler.csproj.nuget.g.props
obj/ProjectEuler.csproj.nuget.g.targets
